# ─── MySQL ───────────────────────────────────────────────
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=asset_tracker
MYSQL_USER=asset_user
MYSQL_PASSWORD=debasis454

# ─── FastAPI ─────────────────────────────────────────────
SECRET_KEY=afcf8df4b561d97d5c7d3d608de255cdcce97ddac834d87eab5c1566e5aea2a6
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# ─── Storage ─────────────────────────────────────────────
STORAGE_ROOT=./storage
